<p id="notice"><%= notice %></p>

<%= form_tag tasks_path, method: 'get', id: "tags_search" do %>
  <% tags_array = Tag.all.map { |tag| [tag.name, tag.id] } %>
  <%= select_tag "with_tag[]", options_for_select(tags_array), id: "select_tags", class: "form-control"%>
<% end %>

<div id="tasks"><%= render 'tasks' %></div>

<script type="text/javascript">
  $(function () {
    $('#select_tags').change(function(){
      $.get($('#tags_search').attr('action'),
      $('#tags_search').serialize(), null, 'script');
      return false;
    });
  });
</script>
